body {
  background-color: #000000;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: space-around;

  text-decoration: none;
  color: #fff;
  margin: 8px;
}

section {
  height: 400px;
}

p {
  color: #fff;
}
