body {
  background-color: #000000;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: space-around;
}

.navbar  a{
  text-decoration: none;
  color: #fff;
  
  padding: 10px;
  margin: 8px;
  border-radius: 4px;
}

.navbar  a:hover{
  color: #000;
  background-color: #fb5b04;
}

#footer {
  color: #000;
  background-color: #fff;
  align-items: center;
}