body {
  background-color: #000000;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: space-around;
}

.navbar  a{
  text-decoration: none;
  color: #fff;
  margin: 8px;
}

.navbar  a:hover{
  text-decoration: none;
  color: #000;
  background-color: #fb5b04;
  margin: 8px;
}

section {
  height: 400px;
}

p {
  color: #fff;
}
