* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: space-around;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 8px;
}

section {
  height: 400px;
}
